table {
	border-collapse: collapse;	
}

th {
	text-align: left;	
}

td {
	word-break: break-all;
	word-wrap: break-word;
	border-top: black 1px solid;
	padding-right: 30px;	
}

td.ASNclass {
	font-weight: bold;	
}

td.monospace {
	font-family: monospace;
}

p.notice {
	margin-bottom: 30px;
	color: gray;
}

.red {
	color: red;
}

pre {
	margin: 7px
}
